h1 {
    color: orange;
    font-style: italic;
}

/*Se aplica somente a um único elemento*/
#elemento1 {
    color: red;
    font-style:normal;
    font-family: monospace  ;
}

.paragrafo {
    text-align: center;
    color: gray;
}

.sublinhado {
    text-decoration: underline;
}