h1 {
    color: orange;
    font-style: italic;
}

/*Se aplica somente a um único elemento*/
#elemento1 {
    color: red;
    font-style:oblique;
    font-family: monospace  ;
}

.paragrafo {
    text-align: center;
    color: gray;
}

.sublinhado {
    text-decoration: underline;
}

body {
    background-color: rgb(194, 240, 225);
}